
body{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: white;
}

header,footer{
	padding: 10px;

}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #808000;
}
main{
	background-color: #E6D5B8;
	flex: 1;
}
footer{
	background-color: #1B1A17;
	margin-top: auto;
	color: white;
	display: flex;;
	flex-direction: column;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: white;
}
table{
	font-size: 15px;
	text-align: center;
	vertical-align: center;
}
h2{
	color: #000000;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: blue;

}
p{
	margin: 2px;
}